* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}

:root {
    --hover: rgba(156, 233, 210, 0.466);
    --background: rgba(240, 248, 255, 0.678);
    --text: #001d2f;
}

.contain {
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

/* sidebar Start*/
.side {
    width: 20%;
    /* position: sticky; */
    background-color: var(--background);
    height: calc(100vh - 70px);
    box-shadow: 1px 5px 20px 4px rgba(0,0,0,0.05);
}

.side .list_elem {
    width: 95%;
    margin: 0.5rem auto;
    border-radius: 6px;
    /* border: 1px solid rgba(240, 248, 255, 0.678); */
    /* background-color: rgba(228, 228, 228, 0.363); */
    overflow: hidden;
    color: var(--text);
}

.side .list_elem:hover {
    background-color: var(--hover);
}
/* Sidebar End */

.scholarship {
    width: calc(100% - 21%);
    height: calc(100vh - 70px);
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.scholarship::-webkit-scrollbar {
    display: none;
}

/* List1 start */
.list1 {
    width: 100%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--background);
}

#listbtn {
    background-color: var(--background);
    border-radius: 10px;
    padding-left: 0rem;
}

.list1:hover {
    background-color: rgba(221, 247, 244, 0.795);
}

.list1 .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    margin: 1rem 0 0 0;
}

.list1 .first .name {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text);
    text-shadow: 0px 1px 20px 10px rgba(0,0,0,0.05);
}
.list1 .first span {
    color: rgb(2, 39, 87);
}

.list1 .first .count {
    color: rgba(211, 2, 2, 0.884);
}

.list1 .first .date {
    color: rgb(4, 109, 39);
}

.list1 .desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 96.5%;
    margin: 0 0 0.5rem 0;
    color: var(--text);
    font-style: italic;
    font-weight: 500;
}

.list1 .govt {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(1, 16, 44);
    font-style: oblique;
    margin: 0 0 1rem 0;
}
/* List1 end */

/* back button */
.back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;
}

.back .back_button {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: none;
    border: 2px solid var(--hover);
}

.back_button:hover {
    background-color: #f5f5f5f1;
}

/* Student Modal */
#main_modal {
    border: none;
    max-height: 90vh;
    min-width: 50vw;
    /* max-width: 60vh; */
    border-radius: 1rem;
    background-color: rgb(248, 248, 248);
    padding: 1rem;
    overflow: scroll;
}

#main_modal::-webkit-scrollbar{
    display: none;
}

.heading {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 10px;
    color: #001d2f;
    font-weight: 600;
}

.detail {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 1rem 1rem 1rem 0;
    border-radius: 10px;
}

.detail .detail_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0rem;
    width: 100%;
}

.detail .detail_section .left {
    font-size: 1.01rem;
    font-weight: 500;
    width: 40%;
    color: #021522;
}

.detail .detail_section .right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(80, 80, 80);
}

.modal_bttn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem .4rem 0 0;
}