* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --hover: rgba(172, 246, 248, 0.466);
    --background: rgba(240, 248, 255, 0.678);
    --text: #001d2f;
    --back: rgba(233, 233, 233, 0.384);
    --j: rgba(4, 64, 143, 0.616);
}

.main {
    display: flex;
    overflow-y: scroll;
}

.org {
    width: 80%;
}

#compose {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 60px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #074469;
    z-index: 1000;
    color: #fff;
}

.cards-Contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 97%;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #fff;
    color: #001d2f;
    box-shadow: 0px 10px 30px 5px rgba(236, 236, 236, 0.575);
    padding: 1rem 0;
    font-size: 1.1rem;
}

.cards-Contain .detail {
    margin: 1rem 0 .5rem 0;
    min-height: 200px;
    width: 95%;
    /* border: 1px solid blue; */
    border-radius: 9px;
    padding: .5rem 1rem;
    background-color: rgba(233, 233, 233, 0.63);
    /* box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2), 10px 10px 10px rgba(0,0,0,0.2); */
    /* box-shadow: 0px 2px 20px 1px rgba(214, 214, 214, 0.486); */
}

.cards-Contain .bttn-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 1.5rem 0; */
    border-radius: 9px;
    /* background-color: rgba(233, 233, 233, 0.63); */
    padding: 1rem 0;
    /* box-shadow: 0px 2px 20px 1px rgba(177, 177, 177, 0.486); */
}

.cards-Contain .bttn-bar .bttn1 {
    font-size: 0.7rem;
    margin-right: .5rem;
    padding: .4rem .4rem;
    background-color: rgba(201, 155, 4, 0.774);
}

.cards-Contain .bttn-bar .bttn2 {
    font-size: 0.7rem;
    padding: .4rem .4rem;
    margin-right: .5rem;

    /* background-color: rgba(31, 189, 0, 0.774); */
}

.cards-Contain .bttn-bar .bttn3 {
    font-size: 0.7rem;
    padding: .4rem .4rem;
    background-color: rgba(189, 0, 0, 0.774);
}

.curousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
    width: 100%;
    /* padding: 0 0 0 7%; */
    margin: 1rem 0;
}

.custom-modal {
    width: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000;
    padding: 1rem 1rem;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 83, 83, 0.356);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.font-t {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .5px;
    font-family: 'Poppins';
    border-radius: 7px;
    background-color: var(--back);
    color: var(--text);
    padding: 1rem;
    margin: 1.5rem 1rem 1rem 1rem;
}

.bttn-mod {
    display: flex;
    margin: 0rem 1rem 1rem 1rem;
    align-items: center;
    gap: 1.5rem;
    justify-content: flex-end;
}

.form {
    font-family: 'Poppins';
    border-radius: 7px;
    background-color: var(--back);
    color: var(--text);
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}